In [1]:
import pandas as pd
import numpy as np
import MySQLdb as ms

In [2]:
df = pd.read_csv('./budongsan.csv', index_col=0)
df.head()

        매물번호           연락처             주소              부동산      보증금     월세
0  3467204.0  010-123-4567  서울시 강남구 역삼동 0  TODAY공인중개사(이인규)   1000.0  100.0
1  3150497.0  010-123-4567  서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0   60.0
2  3440906.0  010-123-4567  서울시 강남구 역삼동 2     열린공인중개사(강광수)   5000.0   65.0
3  3376834.0  010-123-4567  서울시 강남구 역삼동 3     미래공인중개사(김유철)   3000.0   95.0
4  3331511.0  010-123-4567  서울시 강남구 역삼동 4  한백부동산공인중개사(김남조)    110.0  110.0

In [3]:
db = ms.connect('localhost', 'root', '1234', charset='utf8')

In [4]:
cursor = db.cursor() # cursor : 디비에 명령을 전달하는 객체

In [5]:
sql ='''
show databases;
'''
cursor.execute(sql)

9

In [6]:
cursor.fetchall()

(('information_schema',),
 ('budongsan',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sqldb',),
 ('sys',),
 ('world',))

In [7]:
sql = '''
drop database if exists budongsan;
create database budongsan;
'''
cursor.execute(sql)

1

In [8]:
sql = '''
show databases;
'''
cursor.execute(sql)

9

In [9]:
cursor.fetchall()

(('information_schema',),
 ('budongsan',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sqldb',),
 ('sys',),
 ('world',))

In [10]:
db = ms.connect('localhost', 'root', '1234', 'budongsan', charset='utf8')

In [11]:
sql = '''
use budongsan;
show tables;
'''
cursor.execute(sql)

0

In [12]:
sql = '''
create table provider(
    provider_id int primary key,
    name varchar(255)
)
'''
cursor.execute(sql)

0

In [13]:
sql = '''
show tables;
'''
cursor.execute(sql)

1

In [14]:
cursor.fetchall()

(('provider',),)

In [15]:
sql = '''
insert into provider values(2, '다음');
insert into provider values(3, '네이버');
insert into provider values(4, '구글');
'''
cursor.execute(sql)

1

In [16]:
sql = '''
select * from provider;
'''
cursor.execute(sql)

3

In [17]:
cursor.fetchall()

((2, '다음'), (3, '네이버'), (4, '구글'))

In [18]:
# budongsan.csv 파일에 있는 모든 자료를 budongsan 데이터 베이스의 테이블에 입력

In [19]:
sql = '''
drop table if exists room;
create table room(
    phone varchar(255),
    addr varchar(255),
    agent varchar(255),
    deposit int,
    rent int
)
'''

cursor.execute(sql)

0

In [21]:
for i in range(len(df)):
    phone = df.iloc[i][1]
    addr = df.iloc[i][2]
    agent = df.iloc[i][3]
    deposit = df.iloc[i][4]
    rent = df.iloc[i][5]
    
    sql = '''
    insert info room values('{}','{}','{}','{}','{}')
    '''.format(phone, addr, agent, deposit, rent)
    
cursor.execute(sql)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'room values('010-123-4567','서울시 강남구 역삼동 42','강남코리아' at line 1")

In [ ]:
sql = '''
select * from room;
'''

cursor.execute(sql)

In [ ]:
cursor.fetchall()

In [ ]:
db.commit()